# Ignore Data folder 
data/*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rhistory
.Rapp.history
.RData
/*.Rcheck/
.Rproj.user/

# Other files and folders
.settings/

# Any Random CSVs
# *.csv

# ignore python crap
*.pyc
.ipynb_checkpoints/
*.ipynb_checkpoints
ipynb_checkpoints/

# rendered rmd
*.html